@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flip-card-wrapper {
    @apply absolute  w-full h-full flex items-center justify-center;
  }

  .flip-card {
    @apply transition-all ease-linear duration-500 w-[260px] h-[320px] rounded-[40px] bg-ricewhite flex flex-col items-center justify-center;
    background-color: transparent;
  }

  .flip-card-inner {
    @apply relative w-[260px] h-[320px] transition-all ease-linear duration-500;
    transform-style: preserve-3d;
  }

  .flip-card-front,
  .flip-card-back {
    @apply absolute  w-[260px] h-[320px] flex items-center justify-center transition-all ease-linear duration-500;
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
}
